@model StoreOnline.Models.SANPHAM

@{
    ViewBag.Title = "DetailsSP";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Thông Tin Sản Phẩm</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên sản phẩm:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENSP)
        </dd>

        <dt>
            Loại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOAI)
        </dd>

        <dt>
            Số lượng:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SOLUONG)
        </dd>

        <dt>
            Nhà cung cấp:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NHACUNGCAP.TENNCC)
        </dd>

        <dt>
            Đơn vị tính:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DONVITINH)
        </dd>

        <dt>
            Giá vốn:
        </dt>

        <dd>
            @String.Format("{0:0,0}", Model.GIAVON) VNĐ
        </dd>

        <dt>
            Giá bán:
        </dt>

        <dd>
            @String.Format("{0:0,0}", Model.GIABAN) VNĐ
        </dd>

        <dt>
            Hình ảnh:
        </dt>

        <dd>
            <img src="@Url.Content("~/images/sanpham/" + Model.HINHANH)" width="120px" />
        </dd>

        <dt>
            Mô tả:
        </dt>

        <dd style="width:600px; text-align:justify">
            @Html.DisplayFor(model => model.MOTA)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Điều Chỉnh", "EditSP", new { id = Model.MASP }) |
    @Html.ActionLink("Trở Về", "Sanpham")
</p>
