@using StoreOnline.Models
@{
    ViewBag.Title = "EditNCC";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<body>
    <br />
    <br />
    <br />
    <br />
    <div class="form-w3agile form1">
        <h3>Thông Tin Nhà Cung Cấp</h3>
        <form action="#" method="post">
            <label>Tên NCC</label>
            <div class="key">
                <i class="fa fa-user" aria-hidden="true"></i>
                <input type="text" value="@Model.TENNCC" name="Ten" onfocus="this.value = '@Model.TENNCC';" onblur="if (this.value == '') {this.value = 'Họ Tên';}" required="">
                <span class="help-block"></span>
                <div class="clearfix"></div>
            </div>

            <label>Email</label>
            <div class="key">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <input type="text" value="@Model.EMAILNCC" name="Email" onfocus="this.value = '@Model.EMAILNCC';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
                <div class="clearfix"></div>
            </div>
            <label>Địa chỉ</label>
            <div class="key">
                <i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>
                <input type="text" value="@Model.DIACHINCC" name="Diachi" onfocus="this.value = '@Model.DIACHINCC';" onblur="if (this.value == '') {this.value = 'Địa Chỉ';}" required="">
                <div class="clearfix"></div>
            </div>
            <label>Điện thoại</label>
            <div class="key">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <input type="text" value="@Model.DTNCC" name="Dienthoai" onfocus="this.value = '@Model.DTNCC';" onblur="if (this.value == '') {this.value = 'Số Điện Thoại';}" required="">
                <div class="clearfix"></div>
            </div>
            <label>Mã Số Thuế</label>
            <div class="key">
                <input type="text" value="@Model.MASOTHUE" name="mast" onfocus="this.value = '@Model.MASOTHUE';" onblur="if (this.value == '') {this.value = 'Số Điện Thoại';}" required="">
                <div class="clearfix"></div>
            </div>
            <label>Ghi Chú</label>
            <div class="key">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <input type="text" value="@Model.GHICHU" name="ghichu" onfocus="this.value = '@Model.GHICHU';" onblur="if (this.value == '') {this.value = 'Số Điện Thoại';}" required="">
                <div class="clearfix"></div>
            </div>

            <input type="submit" value="Cập Nhật">
        </form>
    </div>
</body>

