
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}


<div class="banner-top">
    <div class="container">
        <h3>Quên Mật Khẩu</h3>
        <h4><a href="@Url.Action("Index", "Shoponline")">Trang Chủ</a><label>/</label>Đăng Nhập</h4>
        <div class="clearfix"> </div>
    </div>
</div>
<!--login-->

<div class="login">

    <div class="main-agileits">
        <div class="form-w3agile">
            <h3>Quên Mật Khẩu</h3>
            @ViewBag.Thongbao
            @ViewData["loi5"]
            <form action="#" method="post">
                @ViewData["loi1"]
                <div class="key">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <input type="text" value="Tài Khoản" name="Username" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'user';}" required="">
                    <div class="clearfix"></div>
                </div>
                @ViewData["loi2"]
                <div class="key">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <input type="text" value="Email" name="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
                    <div class="clearfix"></div>
                </div>
                <h4>Nhập Mật Khẩu Mới</h4>
                @ViewData["loi3"]
                <div class="key">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                    <input type="password" value="Password" name="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" required="">
                    <div class="clearfix"></div>
                </div>
                @ViewData["loi4"]
                <div class="key">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                    <input type="password" value="Confirm Password" name="Confirm Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Confirm Password';}" required="">
                    <div class="clearfix"></div>
                </div>
                <input type="submit" value="Reset Mật Khẩu">
            </form>
        </div>
    </div>
    @*<div class="main-agileits">
        <div class="form-w3agile">
            <h3>Reset Mật Khẩu</h3>
            @ViewData["loi5"]
            <form action="#" method="post">
                @ViewData["loi3"]
                <div class="key">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                    <input type="password" value="Password" name="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" required="">
                    <div class="clearfix"></div>
                </div>
                @ViewData["loi4"]
                <div class="key">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                    <input type="password" value="Confirm Password" name="Confirm Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Confirm Password';}" required="">
                    <div class="clearfix"></div>
                </div>
                <input type="submit" value="Xác Nhận Reset Mật Khẩu">
            </form>
        </div>
    </div>*@
</div>

