@using StoreOnline.Models
@{
    ViewBag.Title = "Lichsudathang";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="banner-top">
    <div class="container">
        <h3>Lịch Sử Đặt Hàng</h3>
        <h4><a href="@Url.Action("Index", "Shoponline")">Trang Chủ</a><label>/</label>Lịch Sử Đặt Hàng</h4>
        <div class="clearfix"> </div>
    </div>
</div>

<!--login-->


<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel"><span class="glyphicon glyphicon-shopping-cart"></span> Đơn đặt hàng của tôi</h4>
        </div>
        <div class="modal-body">
            <table class="table table-hover table-responsive" id="my-cart-table">
                <tr>
                    <td><strong>Mã Hóa Đơn</strong></a></td>
                    <td><strong>Tình Trạng Thanh Toán</strong></td>
                    <td><strong>Tình Trạng Giao Hàng</strong></td>
                    <td><strong>Ngày Đặt</strong></td>
                    <td><strong>Ngày Giao</strong></td>
                    <td><strong>Tổng Tiền</strong></td>
                </tr>
                <tbody>
                    @foreach (var item in Model)
                    {            
                        <tr title="summary 3" data-id="3" data-price="2.00">
                        <td><a href="@Url.Action("Updating", "Shoponline")">@item.MAHD</a></td>
                        <td>@item.DATHANHTOAN</td>
                        <td>@item.TINHTRANGGIAO</td>
                        <td>@item.NGAYDAT</td>
                        <td>@item.NGAYGIAO</td>
                        <td>@item.THANHTIEN</td>   
                        
                        </tr>
                        
                    }
                </tbody>
                                    
                </table>            
     </div>
    </div>
</div>

