
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}


<div class="banner-top">
    <div class="container">
        <h3>Đăng Ký</h3>
        <h4><a href="@Url.Action("Index", "Shoponline")">Trang Chủ</a><label>/</label>Đăng Ký</h4>
        <div class="clearfix"> </div>
    </div>
</div>

<!--login-->

<div class="login">
    <div class="main-agileits">
        <div class="form-w3agile form1">
            <h3>Đăng Ký</h3>
            @ViewData["loi9"]
            <form action="#" method="post">
                <label>Tên đăng nhập</label>
                @ViewData["loi1"]
                <div class="key">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <input type="text" value="Tên Đăng Nhập" name="Username" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Tên Đăng Nhập';}" required="">
                    <div class="clearfix"></div>
                </div>
                <label>Họ tên</label>
                @ViewData["loi2"]
                <div class="key">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <input type="text" value="Họ Tên" name="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Họ Tên';}" required="">
                    <div class="clearfix"></div>
                </div>
                <label>Email</label>
                @ViewData["loi3"]
                <div class="key">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <input type="text" value="Email" name="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
                    <div class="clearfix"></div>
                </div>
                <label>Địa chỉ</label>
                @ViewData["loi4"]
                <div class="key">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <input type="text" value="Địa Chỉ" name="Add" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Địa Chỉ';}" required="">
                    <div class="clearfix"></div>
                </div>
                <label>Điện thoại</label>
                @ViewData["loi5"]
                <div class="key">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <input type="text" value="Số Điện Thoại" name="Phone" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Số Điện Thoại';}" required="">
                    <div class="clearfix"></div>
                </div>
                <label>Giới tính: (Nam / Nữ / Khác)</label>
                @ViewData["loi6"]
                <div class="key">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <input type="text" value="Giới Tính" name="Sex" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Giới Tính';}" required="">
                    <div class="clearfix"></div>
                </div>
                <label>Mật khẩu</label>
                @ViewData["loi7"]
                <div class="key">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                    <input type="password" value="Nhập Lại Mật Khẩu Mới" name="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Nhập Lại Mật Khẩu Mới';}" required="">
                    <div class="clearfix"></div>
                </div>
                <label>Nhập lại mật khẩu</label>
                @ViewData["loi8"]
                <div class="key">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                    <input type="password" value="Nhập Lại Mật Khẩu Mới" name="Confirm Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Nhập Lại Mật Khẩu Mới';}" required="">
                    <div class="clearfix"></div>
                </div>
                <input type="submit" value="Đăng Ký">
            </form>
        </div>

    </div>
</div>