
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}


<div class="banner-top">
    <div class="container">
        <h3>Đăng Ký</h3>
        <h4><a href="@Url.Action("Index", "Shoponline")">Trang Chủ</a><label>/</label>Đăng Ký</h4>
        <div class="clearfix"> </div>
    </div>
</div>

<!--login-->

<div class="login">
    <div class="main-agileits">
        <div class="form-w3agile form1">
            <h3>Đăng Ký</h3>
            <form action="#" method="post">
                @ViewData["loi1"]
                <div class="key">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <input type="text" value="Username" name="Username" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Username';}" required="">
                    <div class="clearfix"></div>
                </div>
                @ViewData["loi2"]
                <div class="key">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <input type="text" value="Email" name="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
                    <div class="clearfix"></div>
                </div>
                @ViewData["loi3"]
                <div class="key">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                    <input type="password" value="Nhập Lại Mật Khẩu Mới" name="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Nhập Lại Mật Khẩu Mới';}" required="">
                    <div class="clearfix"></div>
                </div>
                @ViewData["loi4"]
                <div class="key">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                    <input type="password" value="Nhập Lại Mật Khẩu Mới" name="Confirm Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Nhập Lại Mật Khẩu Mới';}" required="">
                    <div class="clearfix"></div>
                </div>
                <input type="submit" value="Đăng Ký">
            </form>
        </div>

    </div>
</div>