
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}


<div class="banner-top">
    <div class="container">
        <h3>Thông Tin Sản Phẩm</h3>
        <h4><a href="@Url.Action("Index", "Shoponline")">Trang Chủ</a><label>/</label><span>Sản Phẩm: </span>@Model.TENSP</h4>
        <div class="clearfix"> </div>
    </div>
</div>
<div class="single">
    <div class="container">
        <div class="single-top-main">
            <div class="col-md-5 single-top">
                <div class="single-w3agile">

                    <div id="picture-frame">
                        <img src="~/images/sanpham/@Model.HINHANH" data-src="images/si-1.jpg" alt="" class="img-responsive" />
                    </div>
                    <script src="js/jquery.zoomtoo.js"></script>
                    <script>
                        $(function () {
                            $("#picture-frame").zoomToo({
                                magnify: 1
                            });
                        });
                    </script>
                </div>
            </div>
            <div class="col-md-7 single-top-left ">
                <div class="single-right">
                    <h3>@Model.TENSP</h3>
                    <br />
                    <div class="pr-single">
                        <p><label>Giá:</label><span class="reduced"> @Model.GIABAN<span> VNĐ</span></span></p>
                    </div>
                    <div class="block block-w3"></div>
                    <p class="in-pa">
                        <label>Mô Tả: </label>@Model.MOTA
                    </p>
                    <ul class="social-top">
                        <li><a href="https://www.facebook.com/dacsandatsenhong/" target="_blank" title="Click để vào Facebook Chính Của Cửa Hàng" class="icon facebook"><i class="fa fa-facebook" aria-hidden="true"></i><span></span></a></li>
                    </ul>
                    <br />
                    <div class="add add-3">
                        <a href="@Url.Action("ThemGiohang", "GioHang", new { @iMasp= Model.MASP, @strURL=Request.Url.ToString() })" class="btn btn-danger my-cart-btn my-cart-b">ĐẶT MUA</a>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<div class="content-top offer-w3agile">
    <div class="container ">
        <div class="spec ">
            <div class="ser-t">
                <b></b>
                <span><i></i></span>
                <b class="line"></b>
            </div>
        </div>
    </div>
</div>

