@using StoreOnline.Models
@using PagedList.Mvc;
@model PagedList.PagedList<SANPHAM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<body>

    <div style="background-size:cover; background-position:center center; background-image: url('../../images/logo-Copy.jpg')">
        <div class="container">
            <div class="banner-info">
                <h3 style="color: transparent">
                    '
                </h3>
                <div class="search-form">
                    <form action="#" method="post">
                        <input type="text" placeholder="Search..." name="Search...">
                        <input type="submit" value=" ">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--San Pham-->
    <div class="content-top ">
        <div class="container ">
            <div class="spec ">
                <h3>Đặc Sản Nổi Bật</h3>
                <div class="ser-t">
                    <b></b>
                    <span><i></i></span>
                    <b class="line"></b>
                </div>
            </div>
            <div class="row">
                @foreach (var sanpham in Model)
                {
                    
                    <div class="col-sm-4 col-lg-3 col-md-4 pro-1">
                        <div class="thumbnail col-m">
                            <a href="#" data-toggle="modal" data-target="#myModal1" class="offer-img">
                                <img  alt="@sanpham.TENSP" src="~/images/sanpham/@sanpham.HINHANH" sizes="auto" class="img-responsive">
                                <div class="offer"><p><span>Nổi Bật</span></p></div>
                            </a>
                            <div class="mid-1">
                                <div style="height:30px">
                                    <h6><a href="#">@sanpham.TENSP</a></h6>
                                </div>
                                <div class="mid-2">
                                    <p><em class="item_price">@sanpham.GIABAN<span> VNĐ</span></em></p>
                                    <div class="block">
                                        <div class="starbox small ghosting"> </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div>
                                    <div id="Datmua">
                                        <a href="@Url.Action("ThemGiohang", "GioHang", new { @iMasp= sanpham.MASP, @strURL=Request.Url.ToString() })" class="list-group-item">
                                            ĐẶT MUA
                                        </a>
                                    </div>
                                </div>
                                @*<div class="add">
            <button class="btn btn-danger my-cart-btn my-cart-b " data-id=@sanpham.MASP data-name=@sanpham.TENSP data-summary="summary 1" data-price=@sanpham.GIABAN data-quantity="1" data-image="images/of.png">Thêm Vào Giỏ Hàng</button>
        </div>*@
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div>
                <ul class="pagination pagination-lg">
                    <li>
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
                    </li>
			    </ul>
            </div>
        </div>
    </div>
                    
</body>